<div class="movements" *ngIf="!showDetails">
  <webit-waiting-movement-details (showTrans)=clickedTrans($event)
                                  [waitingMovment]="awaitingMovmentsList"></webit-waiting-movement-details>
  <!--    <webit-movements-list [movmentsList]="completedMovmentsList"></webit-movements-list>-->
</div>

<div class="tran-details" *ngIf="showDetails && userAgent === 'mobile'">
  <button class='back-btn'(click)="clickedTrans(null)">X</button>
  <div class="done-icon"></div>
  <div *ngIf="choosenTrans.tranType === 'additon'" class="status-title">
    העברה בוצעה
  </div>
  <div *ngIf="choosenTrans.tranType === 'payment'" class="status-title">העברה מחכה</div>
  <div class="summery-info">
    <div class="trans-info">שילמת ל {{choosenTrans.sentTo}}</div>
    <div class="trans-info payment-amount">
      <span>  {{choosenTrans.amount}}</span>
      <span>  ש"ח</span>
    </div>
    <div class="trans-info">{{choosenTrans.purpose}}</div>
  </div>
  <div class="trans-info">
    <hr>
    <div class="trans-info-sub">
      <span>:תאריך</span>
      <span>{{choosenTrans.date}}</span>
    </div>
    <hr>
    <div class="trans-info-sub">
      <span>:שעה</span>
      <span>17:23</span>
    </div>
    <hr>
    <div class="trans-info-sub">
      <span>:מספר אישור</span>
      <span>{{choosenTrans.sumbitId}}</span>
    </div>
    <hr>
    <span>מידע כללי</span>
  </div>
</div>

