.movements {
    background-color: rgba(255, 255, 255, 0.1);
    width: 360px;
}

.tran-details {
  margin-top: 50px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: rgba(44,114,137, 1);
  //background: #1e556a;
  //background-image: linear-gradient(180deg,  #007378 2%,  #2d5082 100%);
  position: relative;

  div:not(:first-child) {
  //    placeholder
  }

  .done-icon {
    position: absolute;
    top:-7%;
    background-image: url("../../../assets/done.svg");
    height: 57px;
    width: 57px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .status-title {
    position: absolute;
    background: #1e556a;
    font-size: 14px;
    top: 10%;
    border-radius: 10px;
    padding: 4px;
    color: white;
  }

  .trans-info {
    width: 100%;
    text-align: center;
    color: white;
    hr {
      border: 0;
      border-top: 1px solid #e0e0e06b;
      margin: 13px;    }
  }


}

