<div class="movment">
    <img class="movment-avatar" [src]="'https://yt3.ggpht.com/ytc/AAUvwngw35YY8vYI86RTOoEGafSxEjghjzTcKw3LbMyZ=s900-c-k-c0x00ffffff-no-rj'"/>
    <ul class="movment-detils">
        <li class="name">{{movment.name}}</li>
        <li>{{movment.purpose}}</li>
        <li>{{movment.date | date: 'dd/MM/yyyy'}}</li>
    </ul>
    <div class="movment-amount">
        <div>₪{{movment.amount}}</div>
        <div class="green-movment movement-icon" *ngIf="movment.tranType === 'additon'; else sendMethod">+</div>
        <ng-template #sendMethod>
            <div class="red-movment movement-icon">-</div>
        </ng-template>
    </div>
</div>
<hr>
