.movment {
  display: flex;
  align-items: center;
  direction: rtl;
  margin: 13px;
  color: #e0e0e0;
  font-family: 'poalim-light', Arial, Helvetica, sans-serif;
  font-size: 20px;

  img.movment-avatar {
    background-color: white;
    height: 38px;
    width: 38px;
    border-radius: 50%;
  }

  ul.movment-detils {
    direction: rtl;
    list-style: none;
    padding: 10px;
    margin: 0;
    width: 70%;

    .name {
      font-family: 'poalim-medium', Arial, Helvetica, sans-serif;
      font-size: 25px;
    }
    .date {
      font-size: 16px;
    }
  }

  .movment-amount {
    display: flex;
    align-items: center;
    justify-content: center;

    .movement-icon {
      border-radius: 50%;
      width: 14px;
      height: 14px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }

    .green-movment {
      background-color: #2ba73c;
    }

    .red-movment {
      background-color: #c81f48;
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid #e0e0e06b;
  margin: 13px;
}
