<!-- Need here to alert if mobile or web if mobile make it look like mobile-->

<div class="main-page" [ngClass]="{'mobile': userAgent === 'mobile'}">

  <ng-template [ngIf]="userAgent === 'desktop'">
    <ng-template [ngIf]="!authenticated" [ngIfElse]="authenticatedView">
      <webit-qr-code></webit-qr-code>
    </ng-template>
    <ng-template #authenticatedView>
      <webit-movements-summary *ngIf="userAgent=== 'desktop'" [choosenTrans]="choosenTrans" [userAgent]="userAgent"></webit-movements-summary>
    </ng-template>
  </ng-template>

  <div class="view mobile-view" *ngIf="userAgent === 'mobile' || authenticated" [ngClass]="{'mobile-view': userAgent === 'mobile', 'web-view': userAgent === 'desktop'}">
    <h2 class="title">בוקר אור אלכס</h2>
    <div class="nav-bar">
      <div *ngIf="userAgent=== 'desktop'">
        <button class="nav-btn qr"></button>
        <span>שאלות ותשובות</span>
      </div>
      <div *ngIf="userAgent=== 'desktop'">
        <button class="nav-btn qr"></button>
        <span>bitcard הזמנת</span>
      </div>
      <div *ngIf="userAgent=== 'desktop'">
        <button class="nav-btn qr"></button>
        <span>בקש בסריקה</span>
      </div>
      <div *ngIf="userAgent=== 'mobile'">
        <button class="nav-btn qr"></button>
        <span>QR סרוק קוד </span>
      </div>
      <div>
        <button class="nav-btn ask"></button>
        <span>בקש</span>
      </div>
      <div>
        <button class="nav-btn group"></button>
        <span>קבוצה</span>
      </div>
      <div>
        <button class="nav-btn give"></button>
        <span>שלח</span>
      </div>
    </div>
    <webit-movements (showTrans)=clickedTrans($event)></webit-movements>
  </div>

</div>
