<!-- Need here to alert if mobile or web if mobile make it look like mobile-->

<!--add to main page ngclass for if mobile-->
<div class="main-page" [ngClass]="{'mobile': true}">
  <webit-qr-code></webit-qr-code>
  <webit-movments-summery *ngIf='userAgent === "desktop && showDetails"'></webit-movments-summery>
  <div class="view mobile-view" [ngClass]="{'mobile-view': true, 'web-view': false}">
    <h2 class="title">בוקר אור אלכס</h2>
    <div class="nav-bar">
      <div>
        <button class="nav-btn qr"></button>
        <span>QR</span>
      </div>
      <div>
        <button class="nav-btn ask"></button>
        <span>בקש</span>
      </div>
      <div>
        <button class="nav-btn group"></button>
        <span>קבוצה</span>
      </div>
      <div>
        <button class="nav-btn give"></button>
        <span>שלח</span>
      </div>
    </div>
    <webit-movements (showTrans)=clickedTrans($event)></webit-movements>
  </div>
</div>
