<section class="setting-container">
  <div class="user-avatar"><span class="pencil-icon"></span></div>
  <div>בוקר אור ציפי</div>
  <hr>
<div>חשבון בנק לקבלת הכסף</div>
<div>117***312</div>
  <hr>
  <div>כרטיס לחיוב</div>
  <div>**** **** **** 3214 </div>
  <hr>
  <div class="setting-icons">
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
  </div>
  <hr>
  <div class="texts-section">
    <div>שאלות ותשובות</div>
    <hr>
    <div>הגדרות אבטחה</div>
    <hr>
  </div>
</section>
