
movements-summary{
  padding: 10px;
}

.tran-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border-radius: 5px;
    background: rgba(44,114,137, 1);
    position: relative;




    .status-title-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    .done-icon {
      // position: absolute;
      top:5%;
      background-image: url("../../../assets/done.svg");
      height: 57px;
      width: 57px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 5px;
    }

    .status-title {
      // position: absolute;
      background: #1e556a;
      font-size: 25px;
      top: 15%;
      border-radius: 10px;
      padding: 10px;
      color: white;
    }

    .back-btn {
      position: absolute;
      background:transparent;
      border:none;
      top: 0;
      left:0;
      color: white;
      margin: 5px;
    }
    .trans-info {
      width: 100%;
      text-align: center;
      color: white;
      margin: 25px 0;
      font-size: 28px;


      &.payment-amount {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        font-size: 60px;
        font-weight: bold;
      }
      .trans-info-sub {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
      }

      hr {
        border: 0;
        border-top: 1px solid #e0e0e06b;
        margin: 13px;    }
    }
  .full-desc {
    font-weight: bold;
    text-decoration: underline;
  }
  }

